{% extends "basis_schlicht.html" %}

{% block titel %}Anmeldung – thermoctl{% endblock %}

{% block inhalt %}
    <h1 class="mb-4">Anmeldung</h1>
    {% if fehler %}
    <div class="alert alert-danger" role="alert">{{ fehler }}</div>
    {% endif %}
    <form method="post" action="/login">
        <div class="form-floating">
            <input type="text" class="form-control rounded-bottom-0" id="username"
                   name="username" placeholder="Benutzername"
                   autocomplete="username webauthn" required autofocus>
            <label for="username">Benutzername</label>
        </div>
        <div class="form-floating mb-3" style="margin-top: -1px">
            <input type="password" class="form-control rounded-top-0" id="password"
                   name="password" placeholder="Passwort"
                   autocomplete="current-password" required>
            <label for="password">Passwort</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Anmelden</button>
    </form>
{% endblock %}
