{% extends "basis.html" %}
{% from "formular.html" import loeschbestaetigung %}
{% block titel %}Zone löschen – thermoctl{% endblock %}
{% block inhalt %}
{% set hint %}Abhängig sind {{ abhaengigkeiten.schedule_points }} Schaltpunkte,
{{ abhaengigkeiten.devices }} zugeordnete Geräte, {{ abhaengigkeiten.setpoints }} Sollwerte,
{{ abhaengigkeiten.overrides }} Übersteuerungen und
{{ abhaengigkeiten.shadow_decisions }} Schattenentscheidungen. Diese Daten werden mit gelöscht.{% endset %}
{{ loeschbestaetigung("Zone löschen", "Soll die Zone „" ~ zone.display_name ~ "“ wirklich gelöscht werden?",
                      hint, "/zonen/" ~ zone.id ~ "/loeschen", "/zonen/" ~ zone.id) }}
{% endblock %}
